src/*.exe
src/htcoin
src/htcoind
src/test_htcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.htcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
htcoin-qt
HTCoin-Qt.app

# Unit-tests
Makefile.test
htcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
